.footer {
  display: flex;
  background-color: #e16262;
  width: 100vw;
  height: 18vh;
  justify-content: space-around;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0px

    
}

.Brand{
  font-size: 30px;
  font-weight: 300;
  color: white;
}

.footerSocial skype {
    background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
    background-repeat: no-repeat;
    background-position: -156px 0;
  }

.footerSocial facebook{
    background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
  background-repeat: no-repeat;
  background-position: -233px 0;
}