.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-family: 'Arial', sans-serif;
  }
  
 .container h1 {
    color: #eb6969;
  }
  
  .container p {
    color: #555;
    line-height: 1.6;
  }